.scrolbar::-webkit-scrollbar {
  width: 18px;
}

.scrolbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.scrolbar::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to top,
    rgba(0, 6, 7, 0.9),
    rgba(1, 5, 7, 0.9),
    rgba(2, 3, 6, 0.9),
    rgba(2, 2, 4, 0.9),
    rgba(2, 1, 2, 0.9),
    rgba(5, 3, 6, 0.9),
    rgba(9, 5, 9, 0.9),
    rgba(12, 7, 13, 0.9),
    rgba(13, 14, 22, 0.9),
    rgba(8, 21, 29, 0.9),
    rgba(1, 26, 32, 0.9),
    rgba(0, 31, 30, 0.9)
  );
  border-radius: 10px;
  background-clip: content-box;
  border: 5px solid transparent;
}

.server_image::-webkit-scrollbar {
  width: 18px;
}

.server_image::-webkit-scrollbar-track {
  border-radius: 10px;
}

.server_image::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 6, 7, 0.9),
    rgba(1, 5, 7, 0.9),
    rgba(2, 3, 6, 0.9),
    rgba(2, 2, 4, 0.9),
    rgba(2, 1, 2, 0.9),
    rgba(5, 3, 6, 0.9),
    rgba(9, 5, 9, 0.9),
    rgba(12, 7, 13, 0.9),
    rgba(13, 14, 22, 0.9),
    rgba(8, 21, 29, 0.9),
    rgba(1, 26, 32, 0.9),
    rgba(0, 31, 30, 0.9)
  );
  border-radius: 10px;
  background-clip: content-box;
  border: 5px solid transparent;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.a {
  animation: appear ease-in-out;
  animation-timeline: view();
  animation-range: entry 0;
}
