@import url(http://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  user-select: none;
  -webkit-user-drag: none;
  list-style: none;
  font-family: "Audiowide", sans-serif;
}

.window {
  border: 1px solid #001f2e;
  border-radius: 20px;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right bottom,
    #000607,
    #010507,
    #020306,
    #020204,
    #020102,
    #050306,
    #090509,
    #0c070d,
    #0d0e16,
    #08151d,
    #011a20,
    #001f1e
  );
  overflow: hidden;
}

.header {
  -webkit-app-region: drag;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.logo_box {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  cursor: pointer;
}

.logo_box img {
  height: 100%;
  border-radius: 10px;
}

.header .logo_title {
  font-size: 26px;
  letter-spacing: 1px;
}

.player_count {
  font-size: 8px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.online_player {
  color: #00ffff;
}

img,
a,
button,
.auth_list-item,
.profile_info-item,
.max-min,
input,
select,
label {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.profile_info-item_box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.profile_info-item_box img {
  cursor: default;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.profile_info-item_box input,
.profile_info-item_box label {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 0 10px;
  font-size: 14px;
  background-color: #001f2e;
  color: white;
  outline: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile_info-item_box input[type="file"] {
  display: none;
}

.profile_info-item button {
  font-family: "Audiowide";
  text-decoration: underline;

  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.header-auth_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.auth_list-item {
  display: flex;
  gap: 8px;
}

.auth_list-item span {
  font-size: 18px;
}

button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

#backToServerBtn {
  cursor: pointer;
}

.modal-content {
  position: relative;
}

.close_btn {
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  margin: 10px;
  cursor: pointer;
}

.close_btn i {
  font-size: 16px;
  color: white;
}

button:hover {
  opacity: 0.8;
}

.profile_info-item img {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.max-min {
  display: flex;
  gap: 10px;
}

.max-min button {
  font-size: 24px;
}

.divider {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    to left,
    #000909,
    #000909,
    #000909,
    #000909,
    #000c0c,
    #000f0f,
    #001212,
    #001515,
    #001818,
    #001b1b,
    #011a20,
    #001f2e
  );
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
}

.main_bar,
.profil_box {
  margin: 0 20px;
}

.profile_info {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  margin-right: 100px;
}

.logout {
  width: 100px;
  height: 30px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: red;
  padding: 6px 8px;
  border-radius: 20px;
}

.profile_avatar {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.mod_list_bar_header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.scrolbar {
  margin: 5px 0 0 0;
  height: 70%;
  overflow-y: auto;
}

.main_box {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.main_box .box_title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.online_player {
  font-size: 18px;
  color: rgb(0, 255, 255);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.play_box {
  width: 300px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 15px #001f2e;
  border-radius: 20px;
}

.play_box .play_btn {
  padding: 5px;
  width: 90%;
  height: 40px;
  background-image: linear-gradient(
    to left,
    #000909,
    #000909,
    #000909,
    #000909,
    #000c0c,
    #000f0f,
    #001212,
    #001515,
    #001818,
    #001b1b,
    #011a20,
    #001f2e
  );
  border-radius: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  transition: all 0.4s ease;
}

.play_box .play_btn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  opacity: 0.8;
}

.back_button {
  width: auto;
  height: auto;
  display: inline;
  margin-top: 5px;
}

.server_image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  gap: 10px;
  overflow-x: auto;
}

.server_image img {
  width: 24%;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 15px #001f2e;
}

.bottom_bar {
  padding: 8px 4px;
  margin: 0 0 4px;
  width: auto;
  height: 75px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 6, 7, 0.9),
    rgba(1, 5, 7, 0.9),
    rgba(2, 3, 6, 0.9),
    rgba(2, 2, 4, 0.9),
    rgba(2, 1, 2, 0.9),
    rgba(5, 3, 6, 0.9),
    rgba(9, 5, 9, 0.9),
    rgba(12, 7, 13, 0.9),
    rgba(13, 14, 22, 0.9),
    rgba(8, 21, 29, 0.9),
    rgba(1, 26, 32, 0.9),
    rgba(0, 31, 30, 0.9)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px #001f2e;
  border-radius: 20px;
}

.bar_list {
  display: flex;
  gap: 5px;
}

.item {
  margin: 0 5px;
}

.item img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  transition: all 0.2s ease;
}

.item img:hover {
  transform: scale(1.1);
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-radius: 20px;
}

.spinner {
  border: 8px solid #009a85;
  border-top: 8px solid #001f2e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  box-shadow: 0 0 100px #001f2e;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(0, 9, 9),
    rgba(0, 9, 9),
    rgba(0, 9, 9),
    rgba(0, 9, 9),
    rgba(0, 12, 12),
    rgba(0, 15, 15),
    rgba(0, 18, 18),
    rgba(0, 21, 21),
    rgba(0, 24, 24),
    rgba(0, 27, 27),
    rgba(1, 26, 32),
    rgba(0, 31, 46)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.settingsModel_box {
  margin: 8% auto;
  width: 90%;
  height: 63%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 15px #001f2e;
  z-index: 10000;
  padding: 20px;
}

.login_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    #000909,
    #000909,
    #000909,
    #000909,
    #000c0c,
    #000f0f,
    #001212,
    #001515,
    #001818,
    #001b1b,
    #011a20,
    #001f2e
  );
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 15px #001f2e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.input_box {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #001f1e55;
  backdrop-filter: blur(100px);
  border-radius: 20px;
  box-shadow: 0 0 15px #001f2e;
  gap: 10px;
}

.input_box input {
  font-family: "poppins", sans-serif;
  width: 80%;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 0 10px;
  font-size: 12px;
  background-color: #001f2e;
  color: white;
  outline: none;
}

.input_box input::placeholder {
  color: #ffffffaa;
}

.input_box #forgotPasswordBtn {
  font-family: "poppins", sans-serif;
  text-decoration: none;
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.input_box #forgotPasswordBtn:hover {
  text-decoration: underline;
}

.input_box #login-button {
  width: 40%;
  height: 30px;
  border-radius: 8px;
  border: none;
  background-color: #00ffff;
  color: #001f2e;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skin_container {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: red;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.register {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    #000909,
    #000909,
    #000909,
    #000909,
    #000c0c,
    #000f0f,
    #001212,
    #001515,
    #001818,
    #001b1b,
    #011a20,
    #001f2e
  );
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 15px #001f2e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
